.createNew{
    background-color: dodgerblue;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.createNew>i{
    color: whitesmoke;
    font-size: 24px;
} 
.createNew:hover{
    height: 60px;
    width: 60px;
}